
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Abril+Fatface';

$title-font-stack: 'Abril Fatface', serif;
$font-stack: 'IBM Plex Sans', sans-serif;

$light: #f8f3d4;
$dark: #074684;
$highlight: #0ea5c6;
$background-colour: $dark;
$text: $light;
$footer: $light;
$title: $highlight;
$nav: $light;

$transition-time: .5s;

$unsplash-id: 'RHOA-WA3FtA';
$background-url: 'background/abdul-quadir-RHOA-WA3FtA-unsplash.jpg';
$background-url_small: 'background/abdul-quadir-RHOA-WA3FtA-unsplash.jpg';
$background-url_medium: 'background/abdul-quadir-RHOA-WA3FtA-unsplash.jpg';
$background-url_large: 'background/abdul-quadir-RHOA-WA3FtA-unsplash.jpg';

