
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Abril+Fatface';

$title-font-stack: 'Abril Fatface', serif;
$font-stack: 'IBM Plex Sans', sans-serif;

$light: #FFF8E7;
$dark: #40514e;
$highlight: #30e3ca;
$background-colour: rgba(0, 0, 0, .5);
$text: $light;
$footer: $dark;
$title: $light;
$nav: $light;

$transition-time: .5s;

$unsplash-id: '2_3g53wNQk8';
$background-url: 'background/crystal-lau-KtnPYp74e6k-unsplash.jpg';
$background-url-small: 'background/crystal-lau-KtnPYp74e6k-unsplash.jpg';
$background-url-medium: 'background/crystal-lau-KtnPYp74e6k-unsplash.jpg';
$background-url-large: 'background/crystal-lau-KtnPYp74e6k-unsplash.jpg';

.cover{
    // filter: brightness(50%);
    background-blend-mode: darken;
}
