
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pacifico';

$title-font-stack: 'Pacifico', serif;
$font-stack: 'IBM Plex Sans', sans-serif;

$light: #f7f7f7;
$dark: #272727;
$highlight: #e8b730;
$background-colour: $dark;
$text: $light;
$footer: $light;
$title: $highlight;
$nav: $light;

$transition-time: .5s;

$unsplash-id: 'N8O54MgWKnQ';
$background-url: 'background/paulette-wooten-N8O54MgWKnQ-unsplash.jpg';
$background-url-small: 'background/paulette-wooten-N8O54MgWKnQ-unsplash.jpg';
$background-url-medium: 'background/paulette-wooten-N8O54MgWKnQ-unsplash.jpg';
$background-url-large: 'background/paulette-wooten-N8O54MgWKnQ-unsplash.jpg';