
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pacifico';

$title-font-stack: 'Pacifico', serif;
$font-stack: 'IBM Plex Sans', sans-serif;

$light: #0ea5c6;
$dark: #21174a;
$highlight: #df0e62;
$background-colour: $light;
$text: $dark;
$footer: $dark;
$title: $highlight;
$nav: $footer;

$transition-time: .5s;

$unsplash-id: 'rPDbvmpD7H4';
$background-url: 'background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg';
$background-url_small: 'background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg';
$background-url_medium: 'background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg';
$background-url_large: 'background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg';


h1 {
  text-shadow: 4px 4px $dark;
  transform: skewY(-5deg);
}
