@use 'outrun' as *;

body {
  background-color: $background-colour;
  color: $text;
  font-family: $font-stack;
  margin: 0;
  overflow-x: hidden;
}

a{
  color: inherit;
  text-decoration: none;
  transition: $transition-time ease;

  &:active,
  &:hover{
    color: $highlight;
  }
}

h1{
  color: $title;
  font-family: $title-font-stack;
  font-size: 80px;
  line-height: 1em;
}
nav{
  color: $nav;
  position: absolute;
  right: 5vw;
  text-align: center;
  top: 45vh;
  width: 80px;

  a{
      color: inherit;
  }

  @media (max-width: 768px){
    bottom: 5vh;
    left: 5vw;
    position: absolute;
    right: 5vw;
    top: 90vh;
    width: 90vw;
  }
}

footer {
  bottom: 2vh;
  color: $footer;
  position: absolute;
  text-align: center;
  width: 100%;
}
.container-fluid {
  padding: 2vh;
}

.cover {
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  position: relative;
  width: 100vw;
  background: $background-colour url($background-url) center center no-repeat;

  .container-fluid {
    position: absolute;
    top: 40vh;
  }

  i {
    margin: 2vh;
  }
}

.title {
  color: $text;
  font-size: 18px;
  line-height: 1.2em;
  margin-left: 5vw;
  max-width: 500px;
  width: 80vw;

  p {
    margin-top: 36px;
  }
}

.fa-heart {
  padding: 2px;
  transition: $transition-time ease;

  &:hover {
    color: $highlight;
  }
}

@media (max-width: 1080px) {
  
  .title{
    max-width: 400px;
  }

  .cover{
    min-height: 400px;
  }
}
@media (min-height: 1080px){
  .cover{
    background: $background-colour url($background-url-large) center center no-repeat;
    background-size: cover;
  }
}

@media (max-height: 1080px){
  .cover{
    background: $background-colour url($background-url-medium) center center no-repeat;
    background-size: cover;
  }
}

@media (max-height: 720px){
  .cover{
    background: $background-colour url($background-url-small) center center no-repeat;
    background-size: cover;
  }
}


::selection{
  background: $highlight;
  color: $text;
  text-shadow: none;
}