@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Pacifico';
h1 {
  text-shadow: 4px 4px #21174a;
  transform: skewY(-5deg);
}

body {
  background-color: #0ea5c6;
  color: #21174a;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s ease;
}
a:active, a:hover {
  color: #df0e62;
}

h1 {
  color: #df0e62;
  font-family: "Pacifico", serif;
  font-size: 80px;
  line-height: 1em;
}

nav {
  color: #21174a;
  position: absolute;
  right: 5vw;
  text-align: center;
  top: 45vh;
  width: 80px;
}
nav a {
  color: inherit;
}
@media (max-width: 768px) {
  nav {
    bottom: 5vh;
    left: 5vw;
    position: absolute;
    right: 5vw;
    top: 90vh;
    width: 90vw;
  }
}

footer {
  bottom: 2vh;
  color: #21174a;
  position: absolute;
  text-align: center;
  width: 100%;
}

.container-fluid {
  padding: 2vh;
}

.cover {
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  position: relative;
  width: 100vw;
  background: #0ea5c6 url("background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg") center center no-repeat;
}
.cover .container-fluid {
  position: absolute;
  top: 40vh;
}
.cover i {
  margin: 2vh;
}

.title {
  color: #21174a;
  font-size: 18px;
  line-height: 1.2em;
  margin-left: 5vw;
  max-width: 500px;
  width: 80vw;
}
.title p {
  margin-top: 36px;
}

.fa-heart {
  padding: 2px;
  transition: 0.5s ease;
}
.fa-heart:hover {
  color: #df0e62;
}

@media (max-width: 1080px) {
  .title {
    max-width: 400px;
  }
  .cover {
    min-height: 400px;
  }
}
@media (min-height: 1080px) {
  .cover {
    background: #0ea5c6 url("background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg") center center no-repeat;
    background-size: cover;
  }
}
@media (max-height: 1080px) {
  .cover {
    background: #0ea5c6 url("background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg") center center no-repeat;
    background-size: cover;
  }
}
@media (max-height: 720px) {
  .cover {
    background: #0ea5c6 url("background/kilarov-zaneit-rPDbvmpD7H4-unsplash.jpg") center center no-repeat;
    background-size: cover;
  }
}
::selection {
  background: #df0e62;
  color: #21174a;
  text-shadow: none;
}

/*# sourceMappingURL=main.css.map */
